unpackaged/main/default/flows/Assign_Dates_to_Blank_QBR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_User_to_Collection</name>
        <label>Add User to Collection</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varUserCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Accounts.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUniqueIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Accounts.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUser.FlowTriggerQBRAssignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Unique</name>
        <label>Check for Unique</label>
        <locationX>352</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unique ID</defaultConnectorLabel>
        <rules>
            <name>Existing_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUniqueIDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Accounts.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Accounts</targetReference>
            </connector>
            <label>Existing ID</label>
        </rules>
    </decisions>
    <description>1/30/25 BM: Triggers recalculation of all User&apos;s to see if they are Account Owners and if those Account&apos;s have unassigned Next QBR Due Dates.</description>
    <environments>Default</environments>
    <interviewLabel>QBR Assignment Master Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(DEP) QBR Assignment Main Flow</label>
    <loops>
        <name>Loop_Accounts</name>
        <label>Loop Accounts</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_All_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Unique</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_User_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Accounts</name>
        <label>Get All Accounts</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>OwnerId</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Records</name>
        <label>Update User Records</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <inputReference>varUserCollection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Accounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varUnassignedAccounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varUniqueIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varUserCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
