unpackaged/main/default/flows/Boomi_Integration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BoomiTest</name>
        <label>BoomiTest</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>BoomiCallout.BoomiPOST</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Test</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BoomiCallout.BoomiPOST</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Record_ID_to_Apex</name>
        <label>Assign Record ID to Apex</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>Test.message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Salesforce_Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BoomiTest</targetReference>
        </connector>
    </assignments>
    <description>API ver 62</description>
    <environments>Default</environments>
    <interviewLabel>Boomi Integration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Boomi Integration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Record_ID_to_Apex</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Boomi__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Test</name>
        <apexClass>ExternalService__BoomiCallout_BoomiPOST_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
