unpackaged/main/default/flows/IPRO_Sales_Process_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Contact</name>
        <label>Add Contact</label>
        <locationX>968</locationX>
        <locationY>3296</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord.Related_Customer_id__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Selected_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Selected_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_New_Contact_to_Collection</name>
        <label>Add New Contact to Collection</label>
        <locationX>968</locationX>
        <locationY>4112</locationY>
        <assignmentItems>
            <assignToReference>ContactsToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewContactAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Contact_in_Repeater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opportunity</name>
        <label>Add to Opportunity</label>
        <locationX>968</locationX>
        <locationY>6416</locationY>
        <assignmentItems>
            <assignToReference>OpptyProductstoAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpptyProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Product_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Lookup_on_New_Account_Profile</name>
        <label>Assign Account Lookup on New Account Profile</label>
        <locationX>1012</locationX>
        <locationY>2540</locationY>
        <assignmentItems>
            <assignToReference>NewAccountProfileRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountProfileRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountProfileName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Account_Profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_to_Account_Record_Variable</name>
        <label>Assign Account to Account Record Variable</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_type_of_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Account_to_Account_Record_Variable</name>
        <label>Assign Account to Account Record Variable</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_type_of_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Account_to_Account_Record_Variable</name>
        <label>Assign Account to Account Record Variable</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_type_of_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Account_to_Account_Record_Variable</name>
        <label>Copy 3 of Assign Account to Account Record Variable</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Get_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_type_of_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Oppty_Product</name>
        <label>Create Oppty Product</label>
        <locationX>968</locationX>
        <locationY>6308</locationY>
        <assignmentItems>
            <assignToReference>OpptyProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpptyProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpptyProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpptyProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pricebook_Entry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Contact_Assignment</name>
        <label>New Contact Assignment</label>
        <locationX>968</locationX>
        <locationY>4004</locationY>
        <assignmentItems>
            <assignToReference>NewContactAssignment.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Contact_in_Repeater.Contact_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContactAssignment.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Contact_in_Repeater.Contact_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContactAssignment.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Contact_in_Repeater.Contact_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContactAssignment.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Contact_in_Repeater.Contact_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContactAssignment.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Contact_in_Repeater.Contact_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContactAssignment.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Contact_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityId_Variable_Preexisting</name>
        <label>Set OpportunityId Variable - Preexisting</label>
        <locationX>1012</locationX>
        <locationY>5144</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DT_Select_Preexisting_Oppty.outputSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Oppty_Products</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NewAccountProfile</name>
        <choiceText>Create a new Account Profile.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Account Profile</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewOpportunity</name>
        <choiceText>New Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Do_Not_Create_New_Oppty</name>
        <choiceText>No, Do Not Create a New Opportunity</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NotCurrentCustomer</name>
        <choiceText>No, this is for a new customer.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Create_New_Oppty</name>
        <choiceText>Yes, Create A New Opportunity</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes_Use_Existing_Oppty</name>
        <choiceText>Yes, Use an Existing Opportunity</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>YesCurrentCustomer</name>
        <choiceText>Yes, this is for the current record selected.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Any_Exising_Account_Profiles</name>
        <label>Any Exising Account Profiles?</label>
        <locationX>1139</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>New_or_Existing_Account_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Profiles</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Profiles_were_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Profiles_for_Selected_Account</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Customer_Screen_2_Account_Profiles</targetReference>
            </connector>
            <label>Yes, Account Profiles were Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Decision</name>
        <label>Asset Decision</label>
        <locationX>1012</locationX>
        <locationY>7832</locationY>
        <defaultConnector>
            <targetReference>Completion_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_preliminary_access_information</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Asset_Screen</targetReference>
            </connector>
            <label>New Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contacts_Associated_Decision</name>
        <label>Contacts Associated Decision</label>
        <locationX>1012</locationX>
        <locationY>3080</locationY>
        <defaultConnector>
            <targetReference>Create_New_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contacts_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DT_Contacts.outputSelectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Selected_Contact</targetReference>
            </connector>
            <label>Contacts Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Contacts</name>
        <label>Create New Contacts?</label>
        <locationX>1012</locationX>
        <locationY>3680</locationY>
        <defaultConnector>
            <targetReference>Get_Preexisting_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_also_need_to_create_new_contact_s</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Contact</targetReference>
            </connector>
            <label>New Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Contract_with_iPro</name>
        <label>Current Contract with iPro?</label>
        <locationX>1012</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>New_Account_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Customer</defaultConnectorLabel>
        <rules>
            <name>Current_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesCurrentCustomer</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Object</targetReference>
            </connector>
            <label>Current Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_MAC_Order_Decision</name>
        <label>Is this a MAC Order Decision</label>
        <locationX>941</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Profiles_for_Selected_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MAC_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_a_MAC_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Preexisting_Opptys_MAC</targetReference>
            </connector>
            <label>Yes, MAC Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Oppty_Decision</name>
        <label>New Oppty Decision</label>
        <locationX>1012</locationX>
        <locationY>4712</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Scope_of_Work_Decision_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_A_New_Oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_Create_New_Oppty</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Creation</targetReference>
            </connector>
            <label>Create A New Oppty</label>
        </rules>
        <rules>
            <name>Select_an_Existing_Oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_Use_Existing_Oppty</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Preexisting_Oppty</targetReference>
            </connector>
            <label>Select an Existing Oppty</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing_Account_Profile</name>
        <label>New or Existing Account Profile?</label>
        <locationX>1139</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>New_Account_Profile_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Account Profile</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedAccountProfile</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Account_Profile_Screen</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oppty_Products_Decision</name>
        <label>Oppty Products Decision</label>
        <locationX>1012</locationX>
        <locationY>5444</locationY>
        <defaultConnector>
            <targetReference>Is_Site_Survey_Required_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Oppty_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RB_Oppty_Products</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pricebook</targetReference>
            </connector>
            <label>Create New Oppty Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scope_of_Work_Decision</name>
        <label>Scope of Work Decision</label>
        <locationX>1012</locationX>
        <locationY>7316</locationY>
        <defaultConnector>
            <targetReference>Asset_Decision_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_new_SOW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RB_Are_you_ready_to_fill_out_the_Scope_of_Work</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Scope_of_Work_Screen</targetReference>
            </connector>
            <label>Create new SOW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Site_Survey_Required_Decision</name>
        <label>Site Survey Required Decision</label>
        <locationX>1012</locationX>
        <locationY>6908</locationY>
        <defaultConnector>
            <targetReference>Scope_of_Work_Decision_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SS_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RB_Is_Site_Survey_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oppty</targetReference>
            </connector>
            <label>SS Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Object</name>
        <label>What Object?</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>What_type_of_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Account_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a6X</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Profile</targetReference>
            </connector>
            <label>Account Profile</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>SOW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a2g</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Scope_of_Work</targetReference>
            </connector>
            <label>SOW</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_Account</name>
        <label>What type of Account?</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>MAC_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactive_Account</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
        <rules>
            <name>Competitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Competitor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Competitor_Account</targetReference>
            </connector>
            <label>Competitor</label>
        </rules>
    </decisions>
    <description>2.0</description>
    <dynamicChoiceSets>
        <name>Choice_Circuit_Downlink_Speed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Circuit_Down_Link_Speed__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Circuit_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Circuit_Type__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Circuit_Uplink_Speed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Circuit_Uplink_Speed__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Equipment_Requisition_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CPQ_Status__c</picklistField>
        <picklistObject>Scope_of_Work__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Installation_Timeline</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Installation_Timeline__c</picklistField>
        <picklistObject>Scope_of_Work__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_OPS_Category</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OPS_Category__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Solution_Engineer_Engaged</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solution_Engineer_Engaged__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Stage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AccountProfNameAvailableCharacters</name>
        <dataType>Number</dataType>
        <expression>80 - LEN({!AccountRecord.Name} + &apos; - &apos; + TEXT(TODAY()) + &apos; - &apos;)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FirstDayOfThisYear</name>
        <dataType>Date</dataType>
        <expression>DATE(1,1,2017)</expression>
    </formulas>
    <formulas>
        <name>NewAccountProfileName</name>
        <dataType>String</dataType>
        <expression>{!AccountRecord.Name} + &apos; - &apos; + TEXT(TODAY()) + &apos; - &apos; + {!AccountProfTitle}</expression>
    </formulas>
    <interviewLabel>IPRO - Sales Process Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IPRO - Sales Process Screen Flow</label>
    <loops>
        <name>For_Each_Contact_in_Repeater</name>
        <label>For Each Contact in Repeater</label>
        <locationX>880</locationX>
        <locationY>3896</locationY>
        <collectionReference>ContactRepeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Contact_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Contacts_from_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Product_Selected</name>
        <label>For Each Product Selected</label>
        <locationX>880</locationX>
        <locationY>5984</locationY>
        <collectionReference>DTusf_SelectProducts.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Additional_Info_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Oppty_Product_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Selected_Contact</name>
        <label>For Each Selected Contact</label>
        <locationX>880</locationX>
        <locationY>3188</locationY>
        <collectionReference>DT_Contacts.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_to_Add_Related_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>880</locationX>
        <locationY>8048</locationY>
        <connector>
            <targetReference>Completion_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_Down_Link_Speed__c</field>
            <value>
                <elementReference>Circuit_Speed_Downlink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_Type__c</field>
            <value>
                <elementReference>Circuit_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_Uplink_Speed__c</field>
            <value>
                <elementReference>Circuit_Speed_Uplink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Asset_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Product_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Account</name>
        <label>Create New Account</label>
        <locationX>1447</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>New_Account_Profile_Screen</targetReference>
        </connector>
        <inputReference>AccountRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Account_Profile</name>
        <label>Create New Account Profile</label>
        <locationX>1012</locationX>
        <locationY>2648</locationY>
        <connector>
            <targetReference>Account_Profile_Creation_Success</targetReference>
        </connector>
        <inputReference>NewAccountProfileRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Contacts_from_Assignment</name>
        <label>Create New Contacts from Assignment</label>
        <locationX>880</locationX>
        <locationY>4304</locationY>
        <connector>
            <targetReference>Get_Preexisting_Opportunities</targetReference>
        </connector>
        <inputReference>ContactsToAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Oppty</name>
        <label>Create New Oppty</label>
        <locationX>748</locationX>
        <locationY>4928</locationY>
        <assignRecordIdToReference>OpportunityId.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Oppty_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>Next_Steps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OPS_Category__c</field>
            <value>
                <elementReference>OPS_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Engineer_Engaged__c</field>
            <value>
                <elementReference>PL_Solution_Engineer_Engaged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Initial Meeting - 10%</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Oppty_MAC</name>
        <label>Create New Oppty - MAC</label>
        <locationX>743</locationX>
        <locationY>1514</locationY>
        <assignRecordIdToReference>OpportunityId.Id</assignRecordIdToReference>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Oppty_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AnyWare_Term_2016__c</field>
            <value>
                <elementReference>SelectedMACOppty.AnyWare_Term_2016__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AnyWare_Term__c</field>
            <value>
                <elementReference>SelectedMACOppty.AnyWare_Term_2016__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bokking_Chargebacks_Payoffs__c</field>
            <value>
                <elementReference>SelectedMACOppty.Bokking_Chargebacks_Payoffs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Updated_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Comments__c</field>
            <value>
                <elementReference>SelectedMACOppty.Commission_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SelectedMACOppty.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Edit_Billing_Group_Manually__c</field>
            <value>
                <elementReference>SelectedMACOppty.Edit_Billing_Group_Manually__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Flag__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Independent_Partner_Account__c</field>
            <value>
                <elementReference>SelectedMACOppty.Independent_Partner_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Updated_Name_for_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>SelectedMACOppty.NextStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OPS_Category__c</field>
            <value>
                <stringValue>MAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Description__c</field>
            <value>
                <elementReference>SelectedMACOppty.Opportunity_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Workgroup__c</field>
            <value>
                <elementReference>SelectedMACOppty.Opportunity_Workgroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pipeline_Status__c</field>
            <value>
                <elementReference>SelectedMACOppty.Pipeline_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RB_SFDC__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recast_Adjustment__c</field>
            <value>
                <elementReference>SelectedMACOppty.Recast_Adjustment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Type__c</field>
            <value>
                <elementReference>SelectedMACOppty.Sale_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signer__c</field>
            <value>
                <elementReference>SelectedMACOppty.Signer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Engineer_Engaged__c</field>
            <value>
                <elementReference>SelectedMACOppty.Solution_Engineer_Engaged__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Updated_Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket__c</field>
            <value>
                <elementReference>SelectedMACOppty.Ticket__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Oppty_Product_Records</name>
        <label>Create Oppty Product Records</label>
        <locationX>880</locationX>
        <locationY>6608</locationY>
        <connector>
            <targetReference>Is_Site_Survey_Required_Screen</targetReference>
        </connector>
        <inputReference>OpptyProductstoAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Scope_of_Work</name>
        <label>Create Scope of Work</label>
        <locationX>880</locationX>
        <locationY>7532</locationY>
        <connector>
            <targetReference>Asset_Decision_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPQ_Status__c</field>
            <value>
                <elementReference>Equipment_Requisition_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Features_Features__c</field>
            <value>
                <elementReference>Primary_Features</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Timeline__c</field>
            <value>
                <elementReference>Installation_Timeline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SOW_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overview__c</field>
            <value>
                <elementReference>Overview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Decision_Factors__c</field>
            <value>
                <elementReference>Primary_Decision_Factors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training__c</field>
            <value>
                <elementReference>Training</elementReference>
            </value>
        </inputAssignments>
        <object>Scope_of_Work__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Account</name>
        <label>Get Account</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Assign_Account_to_Account_Record_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Account</name>
        <label>Get Account</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Assign_Account_to_Account_Record_Variable</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Scope_of_Work.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Scope_of_Work.Opportunity__r.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_to_Account_Record_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_0</name>
        <label>Get Account</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Account_to_Account_Record_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Profile.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Profile</name>
        <label>Get Account Profile</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Profiles_for_Selected_Account</name>
        <label>Get Account Profiles for Selected Account</label>
        <locationX>1139</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Exising_Account_Profiles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>1012</locationX>
        <locationY>2864</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts_Associated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Preexisting_Opportunities</name>
        <label>Get Preexisting Opportunities</label>
        <locationX>1012</locationX>
        <locationY>4496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Opportunity_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Preexisting_Opptys_MAC</name>
        <label>Get Preexisting Opptys MAC</label>
        <locationX>743</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>of_Select_Preexisting_Oppty_MAC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook</name>
        <label>Get Pricebook</label>
        <locationX>880</locationX>
        <locationY>5552</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Pricebook</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>968</locationX>
        <locationY>6200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Oppty_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_Each_Product_Selected.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DT_Pricebook.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>880</locationX>
        <locationY>5768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Products_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DT_Pricebook.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scope_of_Work</name>
        <label>Get Scope of Work</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scope_of_Work__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_to_Add_Related_Contacts</name>
        <label>Update Account to Add Related Contacts</label>
        <locationX>880</locationX>
        <locationY>3488</locationY>
        <connector>
            <targetReference>Create_New_Contacts</targetReference>
        </connector>
        <inputReference>AccountRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Oppty</name>
        <label>Update Oppty</label>
        <locationX>880</locationX>
        <locationY>7016</locationY>
        <connector>
            <targetReference>Scope_of_Work_Decision_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Site_Survey_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Preexisting_Opportunity</name>
        <label>Update Preexisting Opportunity</label>
        <locationX>1012</locationX>
        <locationY>5036</locationY>
        <connector>
            <targetReference>Set_OpportunityId_Variable_Preexisting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DT_Select_Preexisting_Oppty.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date_Preex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Comments__c</field>
            <value>
                <elementReference>Comments_Prex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name_Prex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>Next_Steps_Prex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OPS_Category__c</field>
            <value>
                <elementReference>OPS_Category_Prex</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Selected_Account_Profile</name>
        <label>Update Selected Account Profile</label>
        <locationX>1007</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Account_Profile_Update_Success</targetReference>
        </connector>
        <inputReference>SelectedAccountProfile</inputReference>
    </recordUpdates>
    <screens>
        <name>Account_Profile_Creation_Success</name>
        <label>Account Profile Creation Success</label>
        <locationX>1012</locationX>
        <locationY>2756</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <fields>
            <name>AccProfSuccessMessage</name>
            <fieldText>&lt;p&gt;Thank you. A new Account Profile has been created for {!AccountRecord.Name}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Account_Profile_Update_Success</name>
        <label>Account Profile Update Success</label>
        <locationX>1007</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <fields>
            <name>AccProfUpdateSuccessMessage</name>
            <fieldText>&lt;p&gt;Thank you. The Account Profile has been successfully updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Asset_Decision_Screen</name>
        <label>Asset Decision Screen</label>
        <locationX>1012</locationX>
        <locationY>7724</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asset_Decision</targetReference>
        </connector>
        <fields>
            <name>Do_you_have_preliminary_access_information</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have preliminary access information?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Competitor_Account</name>
        <label>Competitor Account</label>
        <locationX>479</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Competitor</name>
            <fieldText>&lt;p&gt;The account selected is a competitor account. Please select an active customer or prospect account and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Completion_Screen</name>
        <label>Completion Screen</label>
        <locationX>1012</locationX>
        <locationY>8240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Completion_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16.6667px; color: rgb(58, 65, 74);&quot;&gt;Thanks! &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16.6667px; color: rgb(58, 65, 74);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 16.6667px; color: rgb(58, 65, 74);&quot;&gt;Initial Sales information has been completed. You can return to the record at any time in the sales process to update sales information.Once complete, select the Approval Process button on the Opportunity to continue with next steps.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contacts_Associated</name>
        <label>Contacts Associated</label>
        <locationX>1012</locationX>
        <locationY>2972</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contacts_Associated_Decision</targetReference>
        </connector>
        <fields>
            <name>Text_Contacts_Associated</name>
            <fieldText>&lt;p&gt;What are the contacts associated with this account?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Contacts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:564, Title:564</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>I_also_need_to_create_new_contact_s</name>
            <dataType>Boolean</dataType>
            <fieldText>I also need to create new contact(s)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Opportunity_Screen</name>
        <label>Create New Opportunity Screen</label>
        <locationX>1012</locationX>
        <locationY>4604</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Oppty_Decision</targetReference>
        </connector>
        <fields>
            <name>RB_Create_Oppty</name>
            <choiceReferences>Yes_Create_New_Oppty</choiceReferences>
            <choiceReferences>Yes_Use_Existing_Oppty</choiceReferences>
            <choiceReferences>No_Do_Not_Create_New_Oppty</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to create an opportunity for this account? If there are already opportunities associated, you can also select those.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DT_PreexistingOpptys</name>
            <fieldText>&lt;p&gt;If you&apos;d like to choose a preexisting opportunity, you will have the option to select the opportunity on the next screen. If there are any preexisting opportunities, they will be displayed in the table below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Preexisting_Opptys</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Preexisting_Opportunities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,StageName,CloseDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:376, StageName:376, CloseDate:376</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Oppty_Products</name>
        <label>Create Oppty Products</label>
        <locationX>1012</locationX>
        <locationY>5336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Oppty_Products_Decision</targetReference>
        </connector>
        <fields>
            <name>RB_Oppty_Products</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to associate opportunity products at this time?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Current_Customer_Screen_2_Account_Profiles</name>
        <label>Current Customer Screen 2 - Account Profiles</label>
        <locationX>1007</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_or_Existing_Account_Profile</targetReference>
        </connector>
        <fields>
            <name>AccountProfileSelectionDisplayText</name>
            <fieldText>&lt;p&gt;If you&apos;d like to work off of one of the Account Profiles listed below, please select it. Otherwise, you can just click Next to create a new Account Profile for {!AccountRecord.Name}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountProfilesDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account_Profile__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Account Profiles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Account_Profiles_for_Selected_Account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a80e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Profile Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-36f9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Client_Overview__c&quot;,&quot;guid&quot;:&quot;column-809f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Client Overview&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedAccountProfile</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CurrentCustomerQuestionScreen</name>
        <label>CurrentCustomerQuestionScreen</label>
        <locationX>1012</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Current_Contract_with_iPro</targetReference>
        </connector>
        <fields>
            <name>CurrentCustomerQuestion</name>
            <choiceReferences>YesCurrentCustomer</choiceReferences>
            <choiceReferences>NotCurrentCustomer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you looking to make changes to the current customer record?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Account_Profile_Screen</name>
        <label>Existing Account Profile Screen</label>
        <locationX>1007</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Selected_Account_Profile</targetReference>
        </connector>
        <fields>
            <name>AccountProfileVerificationDisplayText</name>
            <fieldText>&lt;p&gt;Please verify the information below is up to date.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>SelectedAccountProfile.Goals__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>SelectedAccountProfile.Reason_for_Switching__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>SelectedAccountProfile.Current_Circuit_Carrier__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>SelectedAccountProfile.Current_Solutions_Fax_Solutions__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>SelectedAccountProfile.Current_Contract_Info__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>SelectedAccountProfile.Dial_Tone_Assesment__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inactive_Account</name>
        <label>Inactive Account</label>
        <locationX>215</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_InactiveAcct</name>
            <fieldText>&lt;p&gt;The account selected is currently inactive. &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please select an active customer or prospect account and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_Site_Survey_Required_Screen</name>
        <label>Is Site Survey Required Screen</label>
        <locationX>1012</locationX>
        <locationY>6800</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Site_Survey_Required_Decision</targetReference>
        </connector>
        <fields>
            <name>RB_Is_Site_Survey_Required</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is Site Survey Required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MAC_Order</name>
        <label>MAC Order</label>
        <locationX>941</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_this_a_MAC_Order_Decision</targetReference>
        </connector>
        <fields>
            <name>Is_this_a_MAC_Order</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this a MAC Order?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Account_Profile_Screen</name>
        <label>New Account Profile Screen</label>
        <locationX>1012</locationX>
        <locationY>2432</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Account_Lookup_on_New_Account_Profile</targetReference>
        </connector>
        <fields>
            <name>NewAccountProfileDisplayText</name>
            <fieldText>&lt;p&gt;Tell us more about this prospect:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CurrentCustomerQuestion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>NotCurrentCustomer</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>NewAccountProfileRecord.Goals__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>NewAccountProfileRecord.Reason_for_Switching__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>NewAccountProfileRecord.Current_Circuit_Carrier__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>NewAccountProfileRecord.Client_Overview__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>NewAccountProfileRecord.Current_Solutions_Fax_Solutions__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>NewAccountProfileRecord.Current_Contract_Info__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>NewAccountProfileRecord.Dial_Tone_Assesment__c</objectFieldReference>
        </fields>
        <fields>
            <name>AccountProfTitle</name>
            <dataType>String</dataType>
            <fieldText>If applicable, add a brief title for this Account Profile</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a title that is {!AccountProfNameAvailableCharacters} characters or fewer.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!AccountProfTitle}) &lt;= {!AccountProfNameAvailableCharacters}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Account_Screen</name>
        <label>New Account Screen</label>
        <locationX>1447</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Account</targetReference>
        </connector>
        <fields>
            <name>NewAccountDisplayText</name>
            <fieldText>&lt;p&gt;Please enter the following account information:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AccountRecord.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AccountRecord.ParentId</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AccountRecord.Type</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AccountRecord.Terms__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AccountRecord.Phone</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AccountRecord.Fax</objectFieldReference>
        </fields>
        <fields>
            <name>AccountWebsite</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Website</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AccountRecord.Website</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AccountRecord.Description</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AccountRecord.Industry</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AccountRecord.BillingAddress</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AccountRecord.ShippingAddress</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Asset_Screen</name>
        <label>New Asset Screen</label>
        <locationX>880</locationX>
        <locationY>7940</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Asset</targetReference>
        </connector>
        <fields>
            <name>Please_fill_out_access_information</name>
            <fieldText>&lt;p&gt;Please fill out the following access information:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Asset_Name</name>
            <dataType>String</dataType>
            <fieldText>Asset Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product2Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Circuit_Type</name>
            <choiceReferences>Choice_Circuit_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Circuit Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Circuit_Speed_Uplink</name>
            <choiceReferences>Choice_Circuit_Uplink_Speed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Circuit Speed - Uplink</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Circuit_Speed_Downlink</name>
            <choiceReferences>Choice_Circuit_Downlink_Speed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Circuit Speed - Downlink</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Contact</name>
        <label>New Contact</label>
        <locationX>880</locationX>
        <locationY>3788</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>For_Each_Contact_in_Repeater</targetReference>
        </connector>
        <fields>
            <name>ContactRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Contact_First_Name</name>
                <dataType>String</dataType>
                <fieldText>First Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Contact_Last_Name</name>
                <dataType>String</dataType>
                <fieldText>Last Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Contact_Title</name>
                <dataType>String</dataType>
                <fieldText>Title</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Contact_Phone</name>
                <extensionName>flowruntime:phone</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>required</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <fields>
                <name>Contact_Email</name>
                <extensionName>flowruntime:email</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>required</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Scope_of_Work_Screen</name>
        <label>New Scope of Work Screen</label>
        <locationX>880</locationX>
        <locationY>7424</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Scope_of_Work</targetReference>
        </connector>
        <fields>
            <name>Please_fill_out_SOW</name>
            <fieldText>&lt;p&gt;Please fill out the following for Scope of Work:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SOW_Name</name>
            <dataType>String</dataType>
            <fieldText>SOW Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Equipment_Requisition_Status</name>
            <choiceReferences>Choice_Equipment_Requisition_Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Equipment Requisition Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Overview</name>
            <fieldText>Overview</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary_Decision_Factors</name>
            <fieldText>Primary Decision Factors</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary_Features</name>
            <fieldText>Primary Features</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training</name>
            <fieldText>Training</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Installation_Timeline</name>
            <choiceReferences>Choice_Installation_Timeline</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Installation Timeline</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>of_Select_Preexisting_Oppty_MAC</name>
        <label>Select Preexisting Oppty MAC</label>
        <locationX>743</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Oppty_Name</targetReference>
        </connector>
        <fields>
            <name>DT_Select_Existing_oppty_MAC</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select an Opportunity to Copy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Preexisting_Opptys_MAC</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-74f4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedMACOppty</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Creation</name>
        <label>Opportunity Creation</label>
        <locationX>748</locationX>
        <locationY>4820</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Oppty</targetReference>
        </connector>
        <fields>
            <name>Please_Enter_The_Following_Data</name>
            <fieldText>&lt;p&gt;Please enter the following data: &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OPS_Category</name>
            <choiceReferences>Choice_OPS_Category</choiceReferences>
            <dataType>String</dataType>
            <fieldText>OPS Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PL_Solution_Engineer_Engaged</name>
            <choiceReferences>Choice_Solution_Engineer_Engaged</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Solution Engineer Engaged?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_Steps</name>
            <fieldText>Next Steps</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preexisting_Oppty_Edit_Screen</name>
        <label>Preexisting Oppty Edit Screen</label>
        <locationX>1012</locationX>
        <locationY>4928</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Preexisting_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Please_Verify_Correct</name>
            <fieldText>&lt;p&gt;Please verify that the following information is correct; otherwise, please update as necessary:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Name_Prex</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DT_Select_Preexisting_Oppty.outputSelectedRow.Name</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OPS_Category_Prex</name>
            <choiceReferences>Choice_OPS_Category</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DT_Select_Preexisting_Oppty.outputSelectedRow.OPS_Category__c</elementReference>
            </defaultValue>
            <fieldText>OPS Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Solution_Engineer_Engaged_Preex</name>
            <choiceReferences>Choice_Solution_Engineer_Engaged</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DT_Select_Preexisting_Oppty.outputSelectedRow.Solution_Engineer_Engaged__c</elementReference>
            </defaultValue>
            <fieldText>Solution Engineer Engaged?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date_Preex</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DT_Select_Preexisting_Oppty.outputSelectedRow.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_Steps_Prex</name>
            <defaultValue>
                <stringValue>{!DT_Select_Preexisting_Oppty.outputSelectedRow.NextStep}</stringValue>
            </defaultValue>
            <fieldText>Next Steps</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments_Prex</name>
            <defaultValue>
                <stringValue>{!DT_Select_Preexisting_Oppty.outputSelectedRow.Commission_Comments__c}</stringValue>
            </defaultValue>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Additional_Info_Screen</name>
        <label>Product Additional Info Screen</label>
        <locationX>968</locationX>
        <locationY>6092</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Pricebook_Entry</targetReference>
        </connector>
        <fields>
            <name>Please_fill_out_addtl_info_opptyproduct</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please fill out additional information for the following opportunity product: &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!For_Each_Product_Selected.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sales_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Sales Price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scope_of_Work_Decision_Screen</name>
        <label>Scope of Work Decision Screen</label>
        <locationX>1012</locationX>
        <locationY>7208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Scope_of_Work_Decision</targetReference>
        </connector>
        <fields>
            <name>RB_Are_you_ready_to_fill_out_the_Scope_of_Work</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you ready to fill out the Scope of Work?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Preexisting_Oppty</name>
        <label>Select Preexisting Oppty</label>
        <locationX>1012</locationX>
        <locationY>4820</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Preexisting_Oppty_Edit_Screen</targetReference>
        </connector>
        <fields>
            <name>DT_Select_Preexisting_Oppty</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Preexisting_Opportunities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,StageName,CloseDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:376, StageName:376, CloseDate:376</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Pricebook</name>
        <label>Select Pricebook</label>
        <locationX>880</locationX>
        <locationY>5660</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
        <fields>
            <name>Select_Price_Book</name>
            <fieldText>&lt;p&gt;Please select a price book:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Pricebook</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Pricebook2</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Pricebook2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Pricebook</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Description</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:729, Description:729</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Products_Screen</name>
        <label>Select Products Screen</label>
        <locationX>880</locationX>
        <locationY>5876</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>For_Each_Product_Selected</targetReference>
        </connector>
        <fields>
            <name>DTusf_SelectProducts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PricebookEntry</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>PricebookEntry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:product2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>ProductCode,Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>ProductCode:729, Name:729</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Products</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Oppty_Name</name>
        <label>Update Oppty Name</label>
        <locationX>743</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Oppty_MAC</targetReference>
        </connector>
        <fields>
            <name>Updated_Name_for_Opportunity</name>
            <dataType>String</dataType>
            <fieldText>Updated Name for Opportunity:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Updated_Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Updated Close Date:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Updated_Stage</name>
            <choiceReferences>Choice_Stage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Updated Stage:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>886</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CurrentCustomerQuestionScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactsToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Selected_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NewAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NewAccountProfileRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Profile__c</objectType>
    </variables>
    <variables>
        <name>NewContactAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpptyProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpptyProductstoAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedAccountProfile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Profile__c</objectType>
    </variables>
    <variables>
        <name>SelectedMACOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
