unpackaged/main/default/flows/QBR_Due_Date_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_Account_to_Collection</name>
        <label>Add Account to Collection</label>
        <locationX>1628</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>varAccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subtract_1_from_Remaining</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_30_Days_to_Next_QBR</name>
        <label>Assign 30 Days to Next QBR</label>
        <locationX>1320</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Unassigned_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccount.RCT_Next_QBR_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTodayPlus30</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_30_60_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_60_Days_to_Next_QBR</name>
        <label>Assign 60 Days to Next QBR</label>
        <locationX>1672</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Unassigned_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccount.RCT_Next_QBR_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTodayPlus60</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_90_Days_to_Next_QBR</name>
        <label>Assign 90 Days to Next QBR</label>
        <locationX>1936</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Unassigned_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccount.RCT_Next_QBR_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTodayPlus90</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Remaining</name>
        <label>Assign Remaining</label>
        <locationX>1144</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentsRemainingCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_QBR_s_30_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Remaining_Count</name>
        <label>Reset Remaining Count</label>
        <locationX>1144</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>AssignmentsRemainingCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_1_from_Remaining</name>
        <label>Subtract 1 from Remaining</label>
        <locationX>1628</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>AssignmentsRemainingCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Unassigned_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_30_60_Count_from_Remaining</name>
        <label>Subtract 30-60 Count from Remaining</label>
        <locationX>1408</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>AssignmentsRemainingCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Count_30_60</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Next_30_Assigned</name>
        <label>Subtract Next 30 Assigned</label>
        <locationX>1144</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AssignmentsRemainingCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Count_Next_30</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_QBR_s_30_60</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Account_QBR_s_30_60</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Account QBR&apos;s 30-60</label>
        <locationX>1144</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Account_QBR_s_30_60</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Accounts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Account_QBR_s_30_60.RCT_Next_QBR_Due_Date__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <elementReference>varTodayPlus60</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Account_QBR_s_30_60.RCT_Next_QBR_Due_Date__c</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <elementReference>varTodayPlus30</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_30_60</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Account_QBR_s_30_Days</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Account QBR&apos;s 30 Days</label>
        <locationX>1144</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Account_QBR_s_30_60</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Accounts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Account_QBR_s_30_60.RCT_Next_QBR_Due_Date__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <elementReference>varTodayPlus30</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Next_30</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Unassigned_Owner_Accounts</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Unassigned Owner Accounts</label>
        <locationX>1144</locationX>
        <locationY>1106</locationY>
        <assignNextValueToReference>currentItem_Unassigned_Owner_Accounts</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Accounts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Unassigned_Owner_Accounts.RCT_Next_QBR_Due_Date__c</leftValueReference>
            <operator>IsBlank</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Unassigned_Accounts</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Add_30_60_Count</name>
        <label>Add 30-60 Count</label>
        <locationX>1320</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Subtract_30_60_Count_from_Remaining</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>First 1/3 Full</defaultConnectorLabel>
        <rules>
            <name>First_1_3_Full</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignmentsRemainingCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>forTwoThirdsRemaining</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Account_to_Collection</targetReference>
            </connector>
            <label>Over 2/3 Remaining</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Assignments_Remaining</name>
        <label>Check Assignments Remaining</label>
        <locationX>1628</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Assign_90_Days_to_Next_QBR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>90 Day Assignment</defaultConnectorLabel>
        <rules>
            <name>Over_2_3_Remaining</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignmentsRemainingCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>forTwoThirdsRemaining</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_30_Days_to_Next_QBR</targetReference>
            </connector>
            <label>30 Day Assignment</label>
        </rules>
        <rules>
            <name>Over_1_3_Remaining</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignmentsRemainingCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>forTwoThirdsRemaining</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssignmentsRemainingCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>forOneThirdRemaining</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_60_Days_to_Next_QBR</targetReference>
            </connector>
            <label>60 Day Assignment</label>
        </rules>
    </decisions>
    <description>Assigns a value to blank Next QBR Due Date fields on Account based on Owner capacity.</description>
    <environments>Default</environments>
    <formulas>
        <name>forOneThirdRemaining</name>
        <dataType>Number</dataType>
        <expression>Ceiling({!Count_Owner_Accounts}*0.33)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forTwoThirdsRemaining</name>
        <dataType>Number</dataType>
        <expression>Ceiling({!Count_Owner_Accounts}*0.67)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>OwnerMonthlyCount</name>
        <dataType>Number</dataType>
        <expression>CEILING({!Count_Owner_Accounts}/3)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varTodayPlus30</name>
        <dataType>Date</dataType>
        <expression>Today()+30</expression>
    </formulas>
    <formulas>
        <name>varTodayPlus60</name>
        <dataType>Date</dataType>
        <expression>Today()+60</expression>
    </formulas>
    <formulas>
        <name>varTodayPlus90</name>
        <dataType>Date</dataType>
        <expression>Today()+90</expression>
    </formulas>
    <interviewLabel>QBR Due Date Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(DEP) QBR Due Date Assignment</label>
    <loops>
        <name>Loop_Accounts</name>
        <label>Loop Accounts</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Owner_Accounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Unassigned_Accounts</name>
        <label>Loop Unassigned Accounts</label>
        <locationX>1144</locationX>
        <locationY>1214</locationY>
        <collectionReference>Unassigned_Owner_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Assignments_Remaining</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reset_Remaining_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUser.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>OwnerId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>176</locationX>
        <locationY>2414</locationY>
        <inputReference>varAccountCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <transforms>
        <name>Count_30_60</name>
        <label>Count 30-60</label>
        <locationX>1144</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Unassigned_Owner_Accounts</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Account_QBR_s_30_60</elementReference>
                    </value>
                </inputParameters>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Count_Next_30</name>
        <label>Count Next 30</label>
        <locationX>1144</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Subtract_Next_30_Assigned</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Account_QBR_s_30_Days</elementReference>
                    </value>
                </inputParameters>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Count_Owner_Accounts</name>
        <label>Count Owner Accounts</label>
        <locationX>1144</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Assign_Remaining</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Accounts</elementReference>
                    </value>
                </inputParameters>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>AssignmentsRemainingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Account_QBR_s_30_60</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Account_Owner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Unassigned_Owner_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
