unpackaged/main/default/flows/QuickProductSetupNotifyAdmin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_to_SalesForce_Admin</name>
        <label>Send to SalesForce Admin</label>
        <locationX>778</locationX>
        <locationY>387</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Quick_Product_Created</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Product_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Product Created with Workflow: Quick Product</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>automateduser@ipromedia.us</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mneill@ipromedia.us</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>datenowplus30</name>
        <dataType>Date</dataType>
        <expression>today() + 30</expression>
    </formulas>
    <interviewLabel>QuickProductSetupNotifyAdmin_20160608 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QuickProductSetupNotifyAdmin_20160623</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>QuickProduct</name>
        <label>QuickProduct</label>
        <locationX>354</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Send_to_SalesForce_Admin</targetReference>
        </connector>
        <inputAssignments>
            <field>AcctSeedERP__Inventory_Asset__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Accounting_Type__c</field>
            <value>
                <stringValue>Taxable Product</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Expense_GL_Account__c</field>
            <value>
                <stringValue>a0z40000002zkPrAAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Inventory_GL_Account__c</field>
            <value>
                <stringValue>a0z40000002zkOHAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Inventory_Product__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Inventory_Type__c</field>
            <value>
                <stringValue>Purchased</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Revenue_GL_Account__c</field>
            <value>
                <stringValue>a0z40000002zkPXAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Tax_Rate__c</field>
            <value>
                <numberValue>0.0825</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeed__Unit_Cost__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Product_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Product_Code__c</field>
            <value>
                <elementReference>Product_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Product_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passthrough_Taxes__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductCode</field>
            <value>
                <elementReference>Product_Code</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordCreates>
    <screens>
        <name>Quick_Product</name>
        <label>Quick Product</label>
        <locationX>297</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QuickProduct</targetReference>
        </connector>
        <fields>
            <name>purpose</name>
            <fieldText>This flow will allow you to create a Product and enter all the defaut information.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Name</name>
            <dataType>String</dataType>
            <fieldText>Product Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>You are limited to 50 characters in the Product Name field.</errorMessage>
                <formulaExpression>LEN({!Product_Name})&lt;51</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Product_Code</name>
            <dataType>String</dataType>
            <fieldText>Product Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quick_Product_Created</name>
        <label>Quick Product Created</label>
        <locationX>900</locationX>
        <locationY>486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Completed</name>
            <fieldText>Your Product has been created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Quick_Product</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>accountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
