unpackaged/main/default/flows/QuickAccountComm3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_to_SalesForce_Admin</name>
        <label>Send to SalesForce Admin</label>
        <locationX>778</locationX>
        <locationY>387</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Quick_AccountContactOpportunity_Created</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Account Created with Workflow: Quick Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>automateduser@ipromedia.us</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mneill@ipromedia.us,sheri.hendon@comm3.net</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Atlanta</name>
        <choiceText>Atlanta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a0V4000000Re0ZL</stringValue>
        </value>
    </choices>
    <choices>
        <name>Austin</name>
        <choiceText>Austin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a0V4000000QW5PN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dallas</name>
        <choiceText>Dallas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a0V4000000QW5PI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pittsburgh</name>
        <choiceText>Pittsburgh</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a0V4000000T5j7G</stringValue>
        </value>
    </choices>
    <choices>
        <name>San_Antonio</name>
        <choiceText>San Antonio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a0V4000000QW5PS</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>OPsCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OPS_Category__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>datenowplus30</name>
        <dataType>Date</dataType>
        <expression>today() + 30</expression>
    </formulas>
    <interviewLabel>QuickAccountComm3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QuickAccountComm3</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>QuickAccount</name>
        <label>QuickAccount</label>
        <locationX>352</locationX>
        <locationY>254</locationY>
        <assignRecordIdToReference>accountID</assignRecordIdToReference>
        <connector>
            <targetReference>QuickContact</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Alias__c</field>
            <value>
                <elementReference>Account_Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Source_acq__c</field>
            <value>
                <stringValue>Comm3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Company_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Account_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Company_Zip_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Company_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Company_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>Branch_Office</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Company_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Account_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Company_State</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>QuickContact</name>
        <label>QuickContact</label>
        <locationX>543</locationX>
        <locationY>253</locationY>
        <connector>
            <targetReference>QuickOpportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Contact_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Contact_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Contact_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Contact_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>QuickOpportunity</name>
        <label>QuickOpportunity</label>
        <locationX>758</locationX>
        <locationY>247</locationY>
        <connector>
            <targetReference>Send_to_SalesForce_Admin</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Opportunity_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AnyWare_Term_2016__c</field>
            <value>
                <stringValue>a1X400000025Zh9EAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AnyWare_Term__c</field>
            <value>
                <stringValue>60 Months</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>datenowplus30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OPS_Category__c</field>
            <value>
                <elementReference>OPs_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Description__c</field>
            <value>
                <elementReference>Opportunity_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Investigating</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <screens>
        <name>Quick_Account</name>
        <label>Quick Account</label>
        <locationX>296</locationX>
        <locationY>137</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QuickAccount</targetReference>
        </connector>
        <fields>
            <name>purpose</name>
            <fieldText>This flow will allow you to create an Account, Contact, and Opportunity quickly</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Branch_Office</name>
            <choiceReferences>Dallas</choiceReferences>
            <choiceReferences>Austin</choiceReferences>
            <choiceReferences>San_Antonio</choiceReferences>
            <choiceReferences>Pittsburgh</choiceReferences>
            <choiceReferences>Atlanta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Branch Office</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Alias</name>
            <dataType>String</dataType>
            <fieldText>Account Alias</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.
Maximum Length 50 characters</errorMessage>
                <formulaExpression>LEN({!Account_Alias})&lt;51</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Company_Address</name>
            <dataType>String</dataType>
            <fieldText>Account Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_City</name>
            <dataType>String</dataType>
            <fieldText>Account City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_State</name>
            <dataType>String</dataType>
            <fieldText>Account State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.  Must be 2 digit state code</errorMessage>
                <formulaExpression>LEN({!Company_State})=2</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Company_Zip_Code</name>
            <dataType>String</dataType>
            <fieldText>Account Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>US</stringValue>
            </defaultValue>
            <fieldText>Account Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>LEN({!Account_Country})=2</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Company_Phone</name>
            <dataType>String</dataType>
            <fieldText>Account Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Contact_First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Contact Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Contact Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Contact Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Description</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.
Maximum Length 40 characters</errorMessage>
                <formulaExpression>LEN({!Opportunity_Description})&lt;41</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>OPs_Category</name>
            <choiceReferences>OPsCategory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>OPs Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Value</name>
            <dataType>Currency</dataType>
            <fieldText>Opportunity Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quick_AccountContactOpportunity_Created</name>
        <label>Quick AccountContactOpportunity Created</label>
        <locationX>900</locationX>
        <locationY>486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Completed</name>
            <fieldText>Your Quick account, contact, and opportunity have been created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Quick_Account</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
