unpackaged/main/default/flows/Quick_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_to_SalesForce_Admin</name>
        <label>Send to SalesForce Admin</label>
        <locationX>778</locationX>
        <locationY>387</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Quick_Case_Created</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Case Created with Workflow: Quick Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>automateduser@ipromedia.us</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mneill@ipromedia.us</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Atlanta</name>
        <choiceText>Atlanta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a0V4000000Re0ZL</stringValue>
        </value>
    </choices>
    <choices>
        <name>Austin</name>
        <choiceText>Austin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a0V4000000QW5PN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dallas</name>
        <choiceText>Dallas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a0V4000000QW5PI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pittsburgh</name>
        <choiceText>Pittsburgh</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a0V4000000T5j7G</stringValue>
        </value>
    </choices>
    <choices>
        <name>San_Antonio</name>
        <choiceText>San Antonio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a0V4000000QW5PS</stringValue>
        </value>
    </choices>
    <constants>
        <name>OriginInhouse</name>
        <dataType>String</dataType>
        <value>
            <stringValue>In-house</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>OPsCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OPS_Category__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>datenowplus30</name>
        <dataType>Date</dataType>
        <expression>today() + 30</expression>
    </formulas>
    <interviewLabel>Quick Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quick Case</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>QuickCase</name>
        <label>QuickCase</label>
        <locationX>758</locationX>
        <locationY>247</locationY>
        <assignRecordIdToReference>vCaseNumber</assignRecordIdToReference>
        <connector>
            <targetReference>Send_to_SalesForce_Admin</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>OriginInhouse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G40000001lCTs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Case_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedCompany</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Contact_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>Contact_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>Quick_Account</name>
        <label>Quick Account</label>
        <locationX>296</locationX>
        <locationY>137</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QuickCase</targetReference>
        </connector>
        <fields>
            <name>purpose</name>
            <fieldText>This flow will allow you to create an Case assigned to LEVEL1 Quickly :)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Contact Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Contact Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case_Subject</name>
            <dataType>String</dataType>
            <fieldText>Case Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quick_Case_Created</name>
        <label>Quick Case Created</label>
        <locationX>900</locationX>
        <locationY>486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Completed</name>
            <fieldText>Your Quick Case {!vCaseNumber}  has been created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Quick_Account</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
