unpackaged/main/default/flows/SalesOrderShippingAddressUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>ContactIsNull</name>
        <label>ContactIsNull</label>
        <locationX>163</locationX>
        <locationY>174</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoContact</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
        <rules>
            <name>IsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeliveryContact</targetReference>
            </connector>
            <label>IsNotNull</label>
        </rules>
    </decisions>
    <description>Updates the Sales Order Shipping Address to the address from the Delivery Contact</description>
    <interviewLabel>SalesOrderShippingAddressUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SalesOrderShippingAddressUpdate</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>DeliveryContact</name>
        <label>DeliveryContact</label>
        <locationX>159</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SO_Shipping_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactMailingCity</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactMailingZip</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactMailingState</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactMailingAddress</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SalesOrder</name>
        <label>SalesOrder</label>
        <locationX>164</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactIsNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrderId</elementReference>
            </value>
        </filters>
        <object>AcctSeedERP__Sales_Order__c</object>
        <outputAssignments>
            <assignToReference>DeliveryContactId</assignToReference>
            <field>Delivery_Contact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_SO_Shipping_Address</name>
        <label>Update SO Shipping Address</label>
        <locationX>159</locationX>
        <locationY>452</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_City__c</field>
            <value>
                <elementReference>ContactMailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_PostalCode__c</field>
            <value>
                <elementReference>ContactMailingZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_State__c</field>
            <value>
                <elementReference>ContactMailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_Street__c</field>
            <value>
                <elementReference>ContactMailingAddress</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Sales_Order__c</object>
    </recordUpdates>
    <screens>
        <name>NoContact</name>
        <label>NoContact</label>
        <locationX>385</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>The Delivery Contact is not present and the Shipping Address will not be updated.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>SalesOrder</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ContactMailingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactMailingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactMailingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactMailingZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DeliveryContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
