unpackaged/main/default/flows/ScopeOfWork.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <dynamicChoiceSets>
        <name>SearchOppName</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Opportunity_Search_by_Name</elementReference>
            </value>
        </filters>
        <limit>200</limit>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vOppID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSelectOPPName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOPPAlphaName</assignToReference>
            <field>Opportunity_Alpha_Tag__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>ScopeOfWork {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScopeOfWork</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>ScopeOfWorkCreate</name>
        <label>ScopeOfWorkCreate</label>
        <locationX>535</locationX>
        <locationY>209</locationY>
        <assignRecordIdToReference>vScopeOfWorkID</assignRecordIdToReference>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>App_Call_Center__c</field>
            <value>
                <elementReference>Does_the_solution_include_Contact_Center</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>App_Call_Recording__c</field>
            <value>
                <elementReference>Does_the_solution_include_Call_Recording</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>App_Faxlync__c</field>
            <value>
                <elementReference>Is_FaxLync_Being_Sold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Reporter__c</field>
            <value>
                <elementReference>Does_the_solution_include_Business_Reporter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Center_Max_Concurrent_Users__c</field>
            <value>
                <elementReference>What_is_the_Maximum_Number_of_Concurrent_Call_Center_Agents</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Security__c</field>
            <value>
                <elementReference>Does_the_solution_include_Data_Security_Datto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_Availability__c</field>
            <value>
                <elementReference>Does_the_Solution_include_HA_or_locat_site_survivability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPro_Providing_Access_Circuit__c</field>
            <value>
                <elementReference>IPro_Providing_Access_Circuit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ipro_Providing_Firewall__c</field>
            <value>
                <elementReference>Is_IPro_Providing_Firewall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ipro_Providing_Managed_Switching__c</field>
            <value>
                <elementReference>Is_IPro_Providing_Layer_2_Managed_Switching</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ipro_Providing_Router__c</field>
            <value>
                <elementReference>Is_IPro_Providing_Router</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ipro_Providing_UnManaged_Switching__c</field>
            <value>
                <elementReference>Is_IPro_Providing_Layer_2_UNmanaged_Switching</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiCollab__c</field>
            <value>
                <elementReference>MiCollab</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vSelectOPPName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>vOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overview__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Port_Analog_Lines_Comments__c</field>
            <value>
                <elementReference>Analog_Lines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Port_SIP_Comments__c</field>
            <value>
                <elementReference>SIP_numer_of_channels_and_DID_numbers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Port_T1_or_Pri_Comments__c</field>
            <value>
                <elementReference>T1_PRI_Number_of_DID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>efax__c</field>
            <value>
                <elementReference>Is_eFax_Being_Sold</elementReference>
            </value>
        </inputAssignments>
        <object>Scope_of_Work__c</object>
    </recordCreates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>532</locationX>
        <locationY>323</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TxtConfirmation</name>
            <fieldText>Scope of Work Created for: 
Opportunity - {!vSelectOPPName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display</name>
        <label>Display</label>
        <locationX>518</locationX>
        <locationY>85</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScopeOfWorkCreate</targetReference>
        </connector>
        <fields>
            <name>DisplayOppID</name>
            <fieldText>Opp ID - {!vOppID}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayOppName</name>
            <fieldText>Opportunity Name - {!vSelectOPPName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayAlphaName</name>
            <fieldText>Opportunity Alpha Name -{!vOPPAlphaName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GeneralSection</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;General Information&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PortInformationSection</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Port Information&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Analog_Lines</name>
            <fieldText>Analog Lines (Number of Lines, Types, Main and rollovers, fax, modem, alarm, elevator, etc)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>T1_PRI_Number_of_DID</name>
            <dataType>String</dataType>
            <fieldText>T1, PRI (number of PRI or T1 and Number of DID)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SIP_numer_of_channels_and_DID_numbers</name>
            <dataType>String</dataType>
            <fieldText>SIP (numer of channels and DID numbers)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PlatformSection</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Platform Determination (SB, SMB, EB)&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_Many_Users_will_reside_on_the_Image</name>
            <dataType>String</dataType>
            <fieldText>How Many Users will reside on the Image?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MiCollab</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Is MiCollab being Sold?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_FaxLync_Being_Sold</name>
            <dataType>Boolean</dataType>
            <fieldText>Is FaxLync Being Sold?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_eFax_Being_Sold</name>
            <dataType>Boolean</dataType>
            <fieldText>Is eFax Being Sold</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_the_Solution_include_HA_or_locat_site_survivability</name>
            <dataType>Boolean</dataType>
            <fieldText>Does the Solution include HA or locat site survivability?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_the_solution_include_Business_Reporter</name>
            <dataType>Boolean</dataType>
            <fieldText>Does the solution include Business Reporter?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_the_solution_include_Contact_Center</name>
            <dataType>Boolean</dataType>
            <fieldText>Does the solution include Contact Center?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_is_the_Maximum_Number_of_Concurrent_Call_Center_Agents</name>
            <dataType>String</dataType>
            <fieldText>What is the Maximum Number of Concurrent Call Center Agents?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Does_the_solution_include_Call_Recording</name>
            <dataType>Boolean</dataType>
            <fieldText>Does the solution include Call Recording?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_the_solution_include_Data_Security_Datto</name>
            <dataType>Boolean</dataType>
            <fieldText>Does the solution include Data Security (Datto)?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccessSection</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Access Information&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IPro_Providing_Access_Circuit</name>
            <dataType>Boolean</dataType>
            <fieldText>IPro Providing Access Circuit?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_IPro_Providing_Router</name>
            <dataType>Boolean</dataType>
            <fieldText>Is IPro Providing Router?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_IPro_Providing_Firewall</name>
            <dataType>Boolean</dataType>
            <fieldText>Is IPro Providing Firewall?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_IPro_Providing_Layer_2_Managed_Switching</name>
            <dataType>Boolean</dataType>
            <fieldText>Is IPro Providing Layer 2 Managed Switching?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_IPro_Providing_Layer_2_UNmanaged_Switching</name>
            <dataType>Boolean</dataType>
            <fieldText>Is IPro Providing Layer 2 UNmanaged Switching?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Selection</name>
        <label>Opportunity Selection</label>
        <locationX>159</locationX>
        <locationY>93</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Search_by_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Search by Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>344</locationX>
        <locationY>92</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Display</targetReference>
        </connector>
        <fields>
            <name>txtInstructions</name>
            <fieldText>Select the Opportunity you wish to create a Scope of Work...</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Matching_OPP_IDs</name>
            <choiceReferences>SearchOppName</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching OPP IDs</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AlphaName</name>
            <fieldText>{!vOPPAlphaName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Opportunity_Selection</startElementReference>
    <status>Active</status>
    <variables>
        <name>vOPPAlphaName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vOppLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vScopeOfWorkID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vSelectOPPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
