unpackaged/main/default/flows/SF_Account_Profile_QBR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>10/18 Screen Flow for Collecting answers for QBRs</description>
    <environments>Default</environments>
    <interviewLabel>SF - Account Profile QBR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF - Account Profile QBR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Profile</name>
        <label>Get Account Profile</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quarterly_Business_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_QBR</name>
        <label>Update QBR</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X10_Satisfied_with_support_communication__c</field>
            <value>
                <elementReference>X10_Satisfied_with_support_communication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X11_Pain_points_or_challenges_with_us__c</field>
            <value>
                <elementReference>X11_Pain_points_or_challenges_with_us</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X12_How_to_improve_your_experience__c</field>
            <value>
                <elementReference>X12_How_to_improve_your_experience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X13_Missing_or_underused_features_serv__c</field>
            <value>
                <elementReference>X13_Missing_or_underused_features_services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X14_Feedback_on_improving_prod_service__c</field>
            <value>
                <elementReference>X14_Feedback_on_improving_product_service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X15_Opportunities_for_collaboration__c</field>
            <value>
                <elementReference>X15_Opportunities_for_collaboration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X16_Ways_to_meet_goals_next_quarter__c</field>
            <value>
                <elementReference>X16_Ways_to_meet_goals_next_quarter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X17_How_will_partnership_evolve__c</field>
            <value>
                <elementReference>X17_How_will_partnership_evolve</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X18_What_is_success_and_how_can_we_help__c</field>
            <value>
                <elementReference>X18_What_is_success_and_how_can_we_help</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X19_Changes_since_last_QBR__c</field>
            <value>
                <elementReference>X19_Changes_since_last_QBR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1_How_have_priorities_evolved__c</field>
            <value>
                <elementReference>X1_How_have_priorities_evolved1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X20_Microsoft_365_provider_satisfaction__c</field>
            <value>
                <elementReference>X20_Microsoft_365_provider_satisfaction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X21_Who_provides_IT_services__c</field>
            <value>
                <elementReference>X21_Who_provides_your_IT_Services_Edit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X2_Top_3_goals_next_quarter_year__c</field>
            <value>
                <elementReference>X2_Top_3_goals_next_quarter_year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3_New_initiatives_or_challenges__c</field>
            <value>
                <elementReference>X3_New_initiatives_or_challenges</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X4_Align_services_products_with_strategy__c</field>
            <value>
                <elementReference>X4_Align_services_products_with_strategy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X5_Role_changes__c</field>
            <value>
                <elementReference>X5_Role_changes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X6_Have_we_met_expectations__c</field>
            <value>
                <elementReference>X6_Have_we_met_expectations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X7_Results_or_outcomes_from_our_solution__c</field>
            <value>
                <elementReference>X7_Results_or_outcomes_from_our_solution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X8_Most_valuable_areas_of_partnership__c</field>
            <value>
                <elementReference>X8_Most_valuable_areas_of_partnership</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X9_Metrics_KPIs_for_improvement__c</field>
            <value>
                <elementReference>X9_Metrics_KPIs_for_improvement</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Profile__c</object>
    </recordUpdates>
    <screens>
        <name>Quarterly_Business_Review</name>
        <label>Quarterly Business Review</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Strategic_Alignment_Goals</targetReference>
        </connector>
        <fields>
            <name>header_quarterly</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 10.5pt; font-family: Roboto, sans-serif; color: rgb(23, 43, 77); background-color: transparent;&quot;&gt;QBR Review&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;This is a list of all fields for QBR record. If you would like to edit the fields please click Edit at the bottom of this page.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Strategic_Alignment_Goals</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(23, 43, 77); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Strategic Alignment &amp;amp; Goals&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X1_How_have_your_business_priorities_evolved_since_our_last_review</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X1_How_have_priorities_evolved__c</elementReference>
            </defaultValue>
            <fieldText>1. How have your business priorities evolved since our last review?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X2_What_are_your_top_three_business_goals_for_the_next_quarter_year</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X2_Top_3_goals_next_quarter_year__c</elementReference>
            </defaultValue>
            <fieldText>2. What are your top three business goals for the next quarter/year?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X3_Are_there_any_new_initiatives_or_challenges_that_we_should_be_aware_of</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X3_New_initiatives_or_challenges__c</elementReference>
            </defaultValue>
            <fieldText>3. Are there any new initiatives or challenges that we should be aware of?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X4_How_can_we_better_align_our_services_products_with_your_evolving_strategy</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X4_Align_services_products_with_strategy__c</elementReference>
            </defaultValue>
            <fieldText>4. How can we better align our services/products with your evolving strategy?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X5_Has_your_role_changed_in_the_past_year</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X5_Role_changes__c</elementReference>
            </defaultValue>
            <fieldText>5. Has your role changed in the past year?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Review_Value_Results</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(23, 43, 77); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Value &amp;amp; Results&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X6_How_well_do_you_feel_we_ve_met_your_expectations_over_the_last_quarter</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X6_Have_we_met_expectations__c</elementReference>
            </defaultValue>
            <fieldText>6. How well do you feel we’ve met your expectations over the last quarter?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X7_Can_you_share_specific_results_or_outcomes_that_you_ve_experienced_from_using</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X7_Results_or_outcomes_from_our_solution__c</elementReference>
            </defaultValue>
            <fieldText>7. Can you share specific results or outcomes that you’ve experienced from using our solution?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X8_Which_areas_of_our_partnership_have_provided_the_most_value_to_your_business</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X8_Most_valuable_areas_of_partnership__c</elementReference>
            </defaultValue>
            <fieldText>8. Which areas of our partnership have provided the most value to your business?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X9_Are_there_any_metrics_or_KPIs_where_we_can_help_you_drive_better_results</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X9_Metrics_KPIs_for_improvement__c</elementReference>
            </defaultValue>
            <fieldText>9. Are there any metrics or KPIs where we can help you drive better results?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Review_Customer_Satisfaction_Experience</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(23, 43, 77); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Customer Satisfaction &amp;amp; Experience&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X10_How_satisfied_are_you_with_the_level_of_support_and_communication_you_ve_rec</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X10_Satisfied_with_support_communication__c</elementReference>
            </defaultValue>
            <fieldText>10. How satisfied are you with the level of support and communication you’ve received?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X11_Have_there_been_any_pain_points_or_challenges_in_working_with_us</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X11_Pain_points_or_challenges_with_us__c</elementReference>
            </defaultValue>
            <fieldText>11. Have there been any pain points or challenges in working with us?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X12_Is_there_anything_we_could_improve_to_make_your_experience_smoother</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X12_How_to_improve_your_experience__c</elementReference>
            </defaultValue>
            <fieldText>12. Is there anything we could improve to make your experience smoother?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Review_Product_Service_Feedback</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(23, 43, 77); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Product/Service Feedback&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X13_Are_there_any_features_or_services_you_feel_are_missing_or_underused</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X13_Missing_or_underused_features_serv__c</elementReference>
            </defaultValue>
            <fieldText>13. Are there any features or services you feel are missing or underused?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X14_Do_you_have_feedback_on_how_we_can_improve_our_product_service_offering</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X14_Feedback_on_improving_prod_service__c</elementReference>
            </defaultValue>
            <fieldText>14. Do you have feedback on how we can improve our product/service offering?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Review_Future_Opportunities</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(23, 43, 77); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Future Opportunities&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X15_Do_you_see_any_opportunities_for_deeper_collaboration_or_new_projects_we_cou</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X15_Opportunities_for_collaboration__c</elementReference>
            </defaultValue>
            <fieldText>15. Do you see any opportunities for deeper collaboration or new projects we could support?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X16_Are_there_any_additional_ways_we_can_help_you_meet_your_goals_in_the_upcomin</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X16_Ways_to_meet_goals_next_quarter__c</elementReference>
            </defaultValue>
            <fieldText>16. Are there any additional ways we can help you meet your goals in the upcoming quarter?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Review_Partnership_Growth</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(23, 43, 77); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Partnership &amp;amp; Growth&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X17_How_do_you_see_our_partnership_evolving_over_the_next_year</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X17_How_will_partnership_evolve__c</elementReference>
            </defaultValue>
            <fieldText>17. How do you see our partnership evolving over the next year?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X18_What_does_success_look_like_for_you_in_the_next_quarter_and_how_can_we_contr</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X18_What_is_success_and_how_can_we_help__c</elementReference>
            </defaultValue>
            <fieldText>18. What does success look like for you in the next quarter, and how can we contribute to that success?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Review_Recap_Specific_Questions</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(23, 43, 77); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Recap/Specific Questions&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X19_Based_on_our_last_QBR_has_anything_changed</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X19_Changes_since_last_QBR__c</elementReference>
            </defaultValue>
            <fieldText>19. Based on our last QBR has anything changed?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X20_Do_you_use_Microsoft_365_Who_provides_you_365_licenses_Are_you_happy_with_yo</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X20_Microsoft_365_provider_satisfaction__c</elementReference>
            </defaultValue>
            <fieldText>20. Do you use Microsoft 365?  Who provides you 365 licenses?   Are you happy with your provider?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X21_Who_provides_your_IT_Services</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X21_Who_provides_IT_services__c</elementReference>
            </defaultValue>
            <fieldText>21. Who provides your IT Services?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Edit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Strategic_Alignment_Goals</name>
        <label>Strategic Alignment &amp; Goals</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_QBR</targetReference>
        </connector>
        <fields>
            <name>Edit_Header_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please fill out any blank fields and scroll to the bottom of the page Click &lt;u&gt;Save&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_Strategic_Alignment_Goals</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(23, 43, 77); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Strategic Alignment &amp;amp; Goals&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X1_How_have_priorities_evolved1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X1_How_have_priorities_evolved__c</elementReference>
            </defaultValue>
            <fieldText>1. How have your business priorities evolved since our last review?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X2_Top_3_goals_next_quarter_year</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X2_Top_3_goals_next_quarter_year__c</elementReference>
            </defaultValue>
            <fieldText>2. What are your top three business goals for the next quarter/year?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X3_New_initiatives_or_challenges</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X3_New_initiatives_or_challenges__c</elementReference>
            </defaultValue>
            <fieldText>3. Are there any new initiatives or challenges that we should be aware of?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X4_Align_services_products_with_strategy</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X4_Align_services_products_with_strategy__c</elementReference>
            </defaultValue>
            <fieldText>4. How can we better align our services/products with your evolving strategy?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X5_Role_changes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X5_Role_changes__c</elementReference>
            </defaultValue>
            <fieldText>5. Has your role changed in the past year?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Edit_Value_Results</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(23, 43, 77); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Value &amp;amp; Results&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X6_Have_we_met_expectations</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X6_Have_we_met_expectations__c</elementReference>
            </defaultValue>
            <fieldText>6. How well do you feel we’ve met your expectations over the last quarter?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X7_Results_or_outcomes_from_our_solution</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X7_Results_or_outcomes_from_our_solution__c</elementReference>
            </defaultValue>
            <fieldText>7. Can you share specific results or outcomes that you’ve experienced from using our solution?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X8_Most_valuable_areas_of_partnership</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X8_Most_valuable_areas_of_partnership__c</elementReference>
            </defaultValue>
            <fieldText>8. Which areas of our partnership have provided the most value to your business?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X9_Metrics_KPIs_for_improvement</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X9_Metrics_KPIs_for_improvement__c</elementReference>
            </defaultValue>
            <fieldText>9. Are there any metrics or KPIs where we can help you drive better results?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Satisfaction_Experience</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(23, 43, 77); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Customer Satisfaction &amp;amp; Experience&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X10_Satisfied_with_support_communication</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X10_Satisfied_with_support_communication__c</elementReference>
            </defaultValue>
            <fieldText>10. How satisfied are you with the level of support and communication you’ve received?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X11_Pain_points_or_challenges_with_us</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X11_Pain_points_or_challenges_with_us__c</elementReference>
            </defaultValue>
            <fieldText>11. Have there been any pain points or challenges in working with us?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X12_How_to_improve_your_experience</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X12_How_to_improve_your_experience__c</elementReference>
            </defaultValue>
            <fieldText>12. Is there anything we could improve to make your experience smoother?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Service_Feedback</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(23, 43, 77); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Product/Service Feedback&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X13_Missing_or_underused_features_services</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X13_Missing_or_underused_features_serv__c</elementReference>
            </defaultValue>
            <fieldText>13. Are there any features or services you feel are missing or underused?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X14_Feedback_on_improving_product_service</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X14_Feedback_on_improving_prod_service__c</elementReference>
            </defaultValue>
            <fieldText>14. Do you have feedback on how we can improve our product/service offering?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Future_Opportunities</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(23, 43, 77); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Future Opportunities&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X15_Opportunities_for_collaboration</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X15_Opportunities_for_collaboration__c</elementReference>
            </defaultValue>
            <fieldText>15. Do you see any opportunities for deeper collaboration or new projects we could support?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X16_Ways_to_meet_goals_next_quarter</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X16_Ways_to_meet_goals_next_quarter__c</elementReference>
            </defaultValue>
            <fieldText>16. Are there any additional ways we can help you meet your goals in the upcoming quarter?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Partnership_Growth</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(23, 43, 77); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Partnership &amp;amp; Growth&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X17_How_will_partnership_evolve</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X17_How_will_partnership_evolve__c</elementReference>
            </defaultValue>
            <fieldText>17. How do you see our partnership evolving over the next year?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X18_What_is_success_and_how_can_we_help</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X18_What_is_success_and_how_can_we_help__c</elementReference>
            </defaultValue>
            <fieldText>18. What does success look like for you in the next quarter, and how can we contribute to that success?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Recap_Specific_Questions</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(23, 43, 77); font-family: Roboto, sans-serif; font-size: 10.5pt;&quot;&gt;Recap/Specific Questions&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X19_Changes_since_last_QBR</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X19_Changes_since_last_QBR__c</elementReference>
            </defaultValue>
            <fieldText>19. Based on our last QBR has anything changed?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X20_Microsoft_365_provider_satisfaction</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X20_Microsoft_365_provider_satisfaction__c</elementReference>
            </defaultValue>
            <fieldText>20. Do you use Microsoft 365?  Who provides you 365 licenses?   Are you happy with your provider?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X21_Who_provides_your_IT_Services_Edit</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account_Profile.X21_Who_provides_IT_services__c</elementReference>
            </defaultValue>
            <fieldText>21. Who provides your IT Services?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Profile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
